<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngurah.finalproject">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="BRS"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        android:usesCleartextTraffic="true">
        <activity android:name=".controller.ui.home.BookingActivity"></activity>
        <activity android:name=".controller.ui.auth.ChangePasswordActivity" />
        <activity android:name=".controller.ComingSoonActivity" />
        <activity
            android:name=".controller.ui.auth.RegisterActivity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".controller.ui.auth.LoginActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".controller.MainActivity" />
        <activity
            android:name=".controller.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>